<form method="POST" action="/sentiment">  

    <input type = "text" placeholder = "Text to test" name = "text"> 
    <input type = "text" placeholder = "News source 1" name = "news1">
    <input type = "text" placeholder = "News source 2" name = "news2">
    <input type = "text" placeholder = "News source 3" name = "news3">

    <button>Test Sentiment</button>

</form>